# In this notebook I will do data preporation for model, select features and select best model

In [26]:
import pandas as pd
import numpy as np
import sklearn.model_selection as model_selection
import sklearn.feature_extraction as feature_extraction
import sklearn.preprocessing as preprocessing

In [13]:
df = pd.read_csv("../data/enriched_data.csv", index_col=0)

In [14]:
df.head()

,customer_name,customer_email,country,gender,age,annual_salary,credit_card_debt,net_worth,car_purchase_amount,customer_email_suffix,...,phones_per_1000,arable_,crops_,other_,climate,birthrate,deathrate,agriculture,industry,service
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877,.edu,...,"336,3","40,02","1,92","58,06",3,"9,65","14,27","0,093","0,304","0,603"
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566,.co.uk,...,"115,7","2,85","1,71","95,44",2,"28,84","5,72","0,142","0,152","0,612"
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921,.co.uk,...,"78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313,.com,...,"289,9","17,39","13,04","69,57",2,21,0,"0,151","0,096","0,753"
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248,.net,...,"225,3","6,96","0,9","92,15",2,"16,56","6,17","0,084","0,4","0,516"

# Data preporation

 - drop useless features
 - vectorize categorical features
 - standardize numerical features

In [16]:
df.head(2).transpose()

,0,1
customer_name,Martina Avila,Harlan Barnes
customer_email,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,eu.dolor@diam.co.uk
country,Bulgaria,Belize
gender,0,0
age,41.85172,40.870623
annual_salary,62812.09301,66646.89292
credit_card_debt,11609.38091,9572.957136
net_worth,238961.2505,530973.9078
car_purchase_amount,35321.45877,45115.52566
customer_email_suffix,.edu,.co.uk
region,EASTERN EUROPE,LATIN AMER. & CARIB
population,7385367,287730
area_sq_mi,110910,22966
pop_density_per_sq_mi,"66,6","12,5"
coastline_coastarea_ratio,"0,32","1,68"
net_migration,"-4,58",0
infant_mortality_per_1000_births,"20,55","25,69"
gdp__per_capita,7600.0,4900.0
literacy_,"98,6","94,1"
phones_per_1000,"336,3","115,7"
arable_,"40,02","2,85"
crops_,"1,92","1,71"
other_,"58,06","95,44"
climate,3,2
birthrate,"9,65","28,84"
deathrate,"14,27","5,72"
agriculture,"0,093","0,142"
industry,"0,304","0,152"
service,"0,603","0,612"

In [24]:
df = df.drop(["customer_name", "customer_email", "country"], axis=1)

# Split train/test

In [27]:
train_df, test_df = model_selection.train_test_split(df, test_size=0.2)

In [28]:
categorical_features = [
    "gender",
    "customer_email_suffix",
    "region",
    "climate"
]

In [36]:
numerical_features = df.columns[~df.columns.isin(categorical_features)]

# Scale numerical features